
<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if burger}}devoured!{{else}}I WANT to EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devoured!</button>
</li>