
<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger=
	"{{burger}}">
		{{#if burger}}I WANT!{{else}}EAT!{{/if}}
	</button>
	
	<button class="change-burger" data-id="{{id}}" data-devoured=
	"{{burger}}">
		{{#if burger}}ATE!{{else}}DEVOURED!{{/if}}
	</button>
</li>